* {
	padding: 0 !important;
	margin: 0;
	  scroll-behavior: smooth;
}

body {
	font-family: "Oswald" !important;
	background-color: rgb(245, 245, 244) !important;
}

  a:link, a:visited, a:hover{
	text-decoration: none !important;
  }  


.deldia {
	margin-top: -5px !important;
	background: rgb(3,3,3);
	background: linear-gradient(180deg, rgba(3,3,3,1) 84%, rgba(7,7,7,1) 95%, rgba(11,11,11,1) 100%);
	align-items: center;
}


.parrafo1 {
	font-size: calc(1.2rem + 0.4vw) !important;}

.parrafo2 {
	font-size: calc(1.5rem + 0.5vw) !important;}

.cocteles {

	align-items: center;
}

.bebestibles {
	background-color: #0b0b0b!important;
}

.gastronomia {
	background-color: #0b0b0b!important;
}

h2 {
	color:  #030303  !important;
	background-color: rgb(245, 245, 244);
	font-size: calc(2.1rem + 0.5vw) !important;
}

h3 {
	text-decoration: underline;
	padding-top: 20px !important;
}

li {
	font-size: calc(0.9rem + 0.4vw) !important;
	list-style: none;
	padding-top: 8px !important;
}

footer {
	background-color: #3e3d3d;
}

.video-container {
	width: 100% !important;
}


.nav-link {
	font-size: calc(0.9rem + 0.6vw) !important;
}

.fondo{
	margin-top: -42px;
}

.titulomenu {
	position: relative;
	z-index: 20;
	transition: transform 0.2s ease;

}

.titulomenu:hover {
	transform: scale(1.2); 
}
